* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

body {
    background: #D9CDF7;
    height: 100vh;
}

figure {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 0.2rem;
}

img {
    width: 32rem;
}

div {
    width: 24%;
    margin-left: 38%;
}

p {
    font-size: 0.9rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 1rem;
    color: #271A45;
}

h1 {
    font-family: "Crimson Pro", serif;
    font-size: 2.3rem;
    font-weight: 600;
    margin-bottom: 0.6rem;
    color: #271A45;
}

h2 {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
    color: #271A45;
}

button {
    border: 1px solid black;
    padding: 0.7rem 1.1rem;
    border-radius: 999px;
    color: #271A45;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 500;
    background: none;
    cursor: pointer;
}

button:hover {
    background: #271A45;
    color: white;
}