* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #D9CDF7;
    height: 100vh;
}

figure {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

img {
    border: 1px solid red;
}

h1 {
    font-family: "Crimson Pro", serif;
}